{% extends 'create/base.html' %}

{% block title %}创作中心 - {{ title }}{% endblock title %}

{% block custom_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/static/css/bootstrap-tagsinput-typeahead.css">
    <style>
        {#.icon-github {#}
        {#    width: 16px;#}
        {#    height: 16px;#}
        {# }#}
        {##}
        {#.bootstrap-tagsinput {#}
        {#    width: 100%;#}
        {# } #}
        {##}
        {#.accordion {#}
        {#    margin-bottom: -3px;#}
        {# } #}
        {##}
        {#.accordion-group {#}
        {#    border: none;#}
        {# } #}

        .twitter-typeahead .tt-query,
        .twitter-typeahead .tt-hint {
            margin-bottom: 0;
        }

        .twitter-typeahead .tt-hint {
            display: none;
        }

        .tt-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
            cursor: pointer;
        }
        {##}
        {#.tt-suggestion {#}
        {#    display: block;#}
        {#    padding: 3px 20px;#}
        {#    clear: both;#}
        {#    font-weight: normal;#}
        {#    line-height: 1.428571429;#}
        {#    color: #333333;#}
        {#    white-space: nowrap;#}
        {# } #}
        {##}
        {#.tt-suggestion:hover,#}
        {#.tt-suggestion:focus {#}
        {#    color: #ffffff;#}
        {#    text-decoration: none;#}
        {#    outline: 0;#}
        {#    background-color: #428bca;#}
        {# } #}

    </style>
{% endblock custom_css %}

{% block content %}
    {{ block.super }}
{% endblock content %}

{% block main_create_center %}
    <div class="home">
        <video style="display: none" id="video-shower" autoplay controls width="640" height="360"></video>
        <br>
        <button type="button" class="btn btn-primary" onclick="choose_video()">选择视频</button>
        <input type="file" style="display: none" id="choose-video" accept=".mp4, .flv" onchange="get_video()">
        <br><br>
        <div id="video-info" style="display: none">
            <div class="mb-3">
                <label for="text" class="form-label">标题:</label>
                <input type="text" class="form-control" id="text" placeholder="Enter title" name="email">
            </div>
            <div class="mb-3">
                <label for="tag" class="form-label">标签:</label>
                <input type="text" class="form-control" id="tag" placeholder="" name="tag"
                       data-role="tagsinput">
            </div>
            <div class="mb-3">
                <label for="description">简介:</label>
                <textarea class="form-control" rows="5" id="description" name="text"
                          placeholder="Enter description"></textarea>
            </div>
            <div class="mb-3">
                <label for="cover">封面:</label>
                <p>封面要求宽高比例为16:9 最大为1920x1080 格式为jpg png</p>
                <button type="button" class="btn btn-primary" onclick="choose_cover()">选择封面</button>
                <input type="file" id="cover" style="display: none" onchange="loading_cover()"
                       accept=".jpg, .png, .jpeg">
                <img src="https://laosun-video.obs.cn-north-4.myhuaweicloud.com/avatar/empty.png" style="display: none;width: 480px;height: 270px" id="img-cover" alt="">
            </div>
            <button type="submit" class="btn btn-primary">投稿</button>
        </div>
    </div>
{% endblock main_create_center %}
{% block custom_js %}
    {{ block.super }}
    <script src="/static/js/create/bootstrap-tagsinput.js"></script>
    <script src="/static/js/create/upload_video.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>

    <script>
        /*
            var citynames = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: 'assets/citynames.json',
                    filter: function (list) {
                        return $.map(list, function (cityname) {
                            return {name: cityname};
                        });
                    }
                }
            });
            citynames.initialize();

            $('#tag').tagsinput({
                typeaheadjs: {
                    name: 'citynames',
                    displayKey: 'name',
                    valueKey: 'name',
                    source: citynames.ttAdapter()
                }
            });*/
    </script>
    <script src="/static/js/create/flv.min.js"></script>
{% endblock custom_js %}