{% extends 'create/base.html' %}

{% block title %}创作中心 - {{ title }}{% endblock title %}

{% block custom_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/static/css/bootstrap-tagsinput-typeahead.css">
    <style>
        {#.icon-github {#}
        {#    width: 16px;#}
        {#    height: 16px;#}
        {# }#}
        {##}
        {#.bootstrap-tagsinput {#}
        {#    width: 100%;#}
        {# } #}
        {##}
        {#.accordion {#}
        {#    margin-bottom: -3px;#}
        {# } #}
        {##}
        {#.accordion-group {#}
        {#    border: none;#}
        {# } #}

        .twitter-typeahead .tt-query,
        .twitter-typeahead .tt-hint {
            margin-bottom: 0;
        }

        .twitter-typeahead .tt-hint {
            display: none;
        }

        .tt-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
            cursor: pointer;
        }

        {##}
        {#.tt-suggestion {#}
        {#    display: block;#}
        {#    padding: 3px 20px;#}
        {#    clear: both;#}
        {#    font-weight: normal;#}
        {#    line-height: 1.428571429;#}
        {#    color: #333333;#}
        {#    white-space: nowrap;#}
        {# } #}
        {##}
        {#.tt-suggestion:hover,#}
        {#.tt-suggestion:focus {#}
        {#    color: #ffffff;#}
        {#    text-decoration: none;#}
        {#    outline: 0;#}
        {#    background-color: #428bca;#}
        {# } #}

    </style>
{% endblock custom_css %}

{% block content %}
    {{ block.super }}
{% endblock content %}

{% block main_create_center %}
    <div class="modal fade" id="video-play-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">视频播放</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="dplayer.pause()"></button>
                </div>

                <div class="modal-body">
                    <div id="dplayer"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="dplayer.pause()">
                        关闭
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="home">
        <div class="toast align-items-center text-white bg-success border-0 publish-success" role="alert"
             aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body edit-success-body">
                    投稿成功! 正在等待审核
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
        <div class="toast align-items-center text-white bg-danger border-0 publish-fail" role="alert"
             aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body publish-fail-body">
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
        <div class="progress" style="display: none;">
            <div class="progress-bar" style="width:0%"></div>
        </div>
        <p>选择视频, 即表示您已同意 《{{ title }}创作公约》 与 《{{ title }}使用协议》 </p>
        <button type="button" class="btn btn-primary" onclick="choose_video()">选择视频</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#video-play-modal"
                onclick="dplayer.play()" id="play-video-button" style="display: none;">播放视频
        </button>
        <input type="file" style="display: none" id="choose-video" accept=".mp4, .mkv , .flv"
               onchange="get_video();generate_first_frame()">
        <br><br>
        <div id="video-info" style="display: none">
            <div class="mb-3">
                <label for="video-title" class="form-label">标题:</label>
                <input type="text" class="form-control" id="video-title" placeholder="Enter title" name="email">
            </div>
            <div class="mb-3">
                <label for="video-tag" class="form-label">标签:</label>
                <input type="text" class="form-control" id="video-tag" placeholder="" name="tag"
                       data-role="tagsinput">
            </div>
            <div class="mb-3">
                <label for="video-description">简介:</label>
                <textarea class="form-control" rows="5" id="video-description" name="text"
                          placeholder="Enter description"></textarea>
            </div>
            <div class="mb-3">
                <label for="cover">封面:</label>
                <p>封面要求宽高比例为16:9, 可以通过拖动进度条选择封面</p>
                <button type="button" class="btn btn-primary" onclick="choose_cover()">选择封面</button>
                <input type="file" id="cover-file" style="display: none" onchange="loading_cover()"
                       accept=".jpg, .png, .jpeg">
                <br>
                <img src="https://laosun-video.obs.cn-north-4.myhuaweicloud.com/avatar/empty.png"
                     style="display: none;width: 480px;height: 270px" id="img-cover" alt="">
            </div>
            <button type="submit" class="btn btn-primary" id="publish-video" onclick="publish_video()">投稿</button>
        </div>
    </div>
{% endblock main_create_center %}
{% block custom_js %}
    {{ block.super }}
    <script src="/static/js/create/bootstrap-tagsinput.js"></script>
    <script src="/static/js/create/upload_video.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>
    <script>
        /*
            var citynames = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: 'assets/citynames.json',
                    filter: function (list) {
                        return $.map(list, function (cityname) {
                            return {name: cityname};
                        });
                    }
                }
            });
            citynames.initialize();

            $('#tag').tagsinput({
                typeaheadjs: {
                    name: 'citynames',
                    displayKey: 'name',
                    valueKey: 'name',
                    source: citynames.ttAdapter()
                }
            });*/
    </script>
    <script src="/static/js/create/flv.min.js"></script>
    <script src="/static/js/DPlayer.min.js"></script>
{% endblock custom_js %}