
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/github-markdown.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/prism.css" type="text/css" charset="utf-8"/>
    <script src="/static/js/prism.js" type="text/javascript"
            charset="utf-8"></script>
    <title>{{ title }}</title>
</head>
<body>
<div class="markdown-body">
    <h1 id="title">关于{{ title }}创作公约</h1>
<p>{{ title }}有权根据法律法规、监管政策、行业规范以及{{ title }}经营策略的调整变化，单方变更、中止、终止本公约内容，并在相关页面进行公布。</p>
<p>前述内容一经在相关的页面上公布即有效代替原来的公约内容，同时{{ title }}将以适当的方式（包括但不限于弹窗、邮件、站内信、系统通知、平台通知、网站公告等）提醒您更新后的内容，以便您及时了解本公约的最新版本。</p>
<p>可参考的相关规定：
<a href="http://www.gov.cn/zhengce/zhengceku/2020-11/25/content_5564110.htm">《网络信息内容生态治理规定》</a></p>
</div>
</body>
</html>
    