{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block custom_js %}
{% endblock custom_js %}

{% block content %}
<div class="tab-content container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="res-list" style="min-height: 300px;">
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem" playerid="180"
                         title="世界杯决赛-点球大战" ww="1920" hh="1080">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202212/l99ckrl4z8zd9xpd_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>
                    <p class="position-absolute mb-0 d-flex justify-content-start align-items-center w-100 watch_container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-eye" viewBox="0 0 16 16" color="#fff">
                            <use xlink:href="#widget-video-play-count"></use>
                        </svg>
                        <span class="watchNum">10</span>
                        <span class="tm-catalog-item-text2 d-inline-block ms-auto ">00:13:12</span>
                    </p>
                    <div id="qrCsontainer_180" class="d-none">
                        <div id="qrimg_180"></div>
                    </div>
                    <p></p></div>
                <div class="card-body">
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 世界杯决赛-点球大战</div>

                    </div>
                    <div class="row">
                        <small class="text-muted col">123</small>
                        <div class="d-flex justify-content-end align-items-center col">
                            <small class="text-muted">2022-12-19</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem" playerid="179"
                         title="2022世界杯颁奖典礼" ww="1920" hh="1080">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202212/8rz4drrkk2ar7ede_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>
                    <div id="qrCsontainer_179" class="d-none">
                        <div id="qrimg_179"></div>
                    </div>
                    <p></p></div>
                <div class="card-body"> <!-- <p class="card-text">2022世界杯颁奖典礼</p> -->
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 2022世界杯颁奖典礼</div>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-sm btn-success" onclick="onCardClick('179')">play</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --> </div>
                        <small class="text-muted">2022-12-19 12:46:45</small></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem" playerid="147"
                         title="女子短道速滑500米决赛" ww="1920" hh="1080">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202202/aq7n5s4o456dq4rs_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>

                    <div id="qrCsontainer_147" class="d-none">
                        <div id="qrimg_147"></div>
                    </div>
                    <p></p></div>
                <div class="card-body"> <!-- <p class="card-text">女子短道速滑500米决赛</p> -->
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 女子短道速滑500米决赛</div>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-sm btn-success" onclick="onCardClick('147')">play</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --> </div>
                        <small class="text-muted">2022-02-21 21:00:44</small></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem"
                         title="闭幕式 2022-02-20 8:00">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202202/fjqdltrliy58snrb_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>

                    <div id="qrCsontainer_146" class="d-none">
                        <div id="qrimg_146"></div>
                    </div>
                    <p></p></div>
                <div class="card-body"> <!-- <p class="card-text">闭幕式 2022-02-20 8:00</p> -->
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 闭幕式 2022-02-20 8:00</div>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-sm btn-success" onclick="onCardClick('146')">play</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --> </div>
                        <small class="text-muted">2022-02-21 20:31:58</small></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem" playerid="145"
                         title="女子30公里越野滑雪" ww="1920" hh="1080">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202202/rp2f2s3nf6w1h8nf_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>

                    <div id="qrCsontainer_145" class="d-none">
                        <div id="qrimg_145"></div>
                    </div>
                    <p></p></div>
                <div class="card-body"> <!-- <p class="card-text">女子30公里越野滑雪</p> -->
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 女子30公里越野滑雪</div>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-sm btn-success" onclick="onCardClick('145')">play</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --> </div>
                        <small class="text-muted">2022-02-20 19:05:25</small></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem" playerid="144"
                         title="男子短道速滑1000米" ww="1920" hh="1080">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202202/o2rcikyfswel324a_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>

                    <div id="qrCsontainer_144" class="d-none">
                        <div id="qrimg_144"></div>
                    </div>
                    <p></p></div>
                <div class="card-body"> <!-- <p class="card-text">男子短道速滑1000米</p> -->
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 男子短道速滑1000米</div>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-sm btn-success" onclick="onCardClick('144')">play</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --> </div>
                        <small class="text-muted">2022-02-20 13:59:41</small></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem" playerid="143"
                         title="双人自由滑决赛" ww="1920" hh="1080">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202202/21t3s9p4b2i2r1gr_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>

                    <div id="qrCsontainer_143" class="d-none">
                        <div id="qrimg_143"></div>
                    </div>
                    <p></p></div>
                <div class="card-body"> <!-- <p class="card-text">双人自由滑决赛</p> -->
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 双人自由滑决赛</div>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-sm btn-success" onclick="onCardClick('143')">play</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --> </div>
                        <small class="text-muted">2022-02-20 13:27:52</small></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem" playerid="142"
                         title="女子U型场地 谷爱凌夺冠" ww="1920" hh="1080">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202202/2r2go9zd3qf2rqmi_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>

                    <div id="qrCsontainer_142" class="d-none">
                        <div id="qrimg_142"></div>
                    </div>
                    <p></p></div>
                <div class="card-body"> <!-- <p class="card-text">女子U型场地 谷爱凌夺冠</p> -->
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 女子U型场地 谷爱凌夺冠</div>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-sm btn-success" onclick="onCardClick('142')">play</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --> </div>
                        <small class="text-muted">2022-02-20 11:28:49</small></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="position-relative">
                    <div class="position-relative tm-thumbnail-container videoItem" playerid="136"
                         title="花样滑冰团体赛 瓦力耶娃" ww="1920" hh="1080">
                        <div class="img_wrapper"><img src="http://60.205.164.47/covers/202202/mj9beuqxlwxoc7am_s.jpg"
                                                      alt="Image" height="100%"> <span
                                class="position-absolute tm-img-overlay"> <i
                                class="fas fa-play tm-overlay-icon"></i> </span></div>
                    </div>

                    <div id="qrCsontainer_136" class="d-none">
                        <div id="qrimg_136"></div>
                    </div>
                    <p></p></div>
                <div class="card-body"> <!-- <p class="card-text">花样滑冰团体赛 瓦力耶娃</p> -->
                    <div class="mb-3">
                        <div class="titleArea card-title fw-bold"> 花样滑冰团体赛 瓦力耶娃</div>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <!-- <button type="button" class="btn btn-sm btn-success" onclick="onCardClick('136')">play</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --> </div>
                        <small class="text-muted">2022-02-06 18:53:10</small></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
