<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/github-markdown.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/prism.css" type="text/css" charset="utf-8"/>
    <script src="/static/js/prism.js" type="text/javascript"
            charset="utf-8"></script>
    <title></title>
</head>
<body>
%s
</body>
</html>